{% extends 'core/base.html' %}

{%block content %}
        <h3 class="display-4 text-center">Formulario Contacto</h3>
        <br>
        <br>
        <br>
        <!-- Contenedor Principal FORMULARIO -->
        <main class="container mt-4 mb-4">
            <div class="row mt-4 mb-4">
                <div class="col-md-6 order-1">
                    <form action="#"  method="GET" id="mi_formulario">
                        <!-- Armar formulario con FORM GROUP -->
                        <div class="form-group">
                            <label class="font-weight-bold" for="rut">Rut</label>
                            <input class="form-control" type="text" id="rut" name="rut" placeholder="Sin guión. Ej. 123456789 " required>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="nombre">Nombre</label>
                            <input class="form-control" type="text" id="nombre" name="nombre" placeholder="Ej. Maria" required>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="apellidos">Apellidos</label>
                            <input class="form-control" type="text" id="apellidos" name="apellidos" placeholder="Ej.Duran Perez" required>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="fecha_nac">Fecha Nacimiento</label>
                            <input class="form-control" type="date" id="fecha_nac" name="fecha_nac"required>
                        <div class="form-group ">
                            <label class="form-group" for="genero">Genero</label>
                                <div class="col-sm-10">
                                    <div class="form-check-inline">
                                        <div class="form-check-label form-check-inline">
                                            <label class="form-check-label" for="masculino">
                                                <input class="form-check-input" name="genero" id="masculino" value="Masculino" type="radio">Masculino
                                            </label>
                                        </div>
                                        <div class="form-check-label form-check-inline">
                                            <label class="form-check-label" for="femenino">
                                                <input class="form-check-input" name="genero" id="femenino" value="Femenino" type="radio">Femenino
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="email">Email</label>
                            <input class="form-control" id="email" name="email" type="email" placeholder="Ej. burger@email.com" required>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="Fono">Fono</label>
                            <input class="form-control" type="text" id="Fono" name="Fono" placeholder="Ej. 9456122378" required>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="password">Password</label>
                            <input class="form-control" id="password" name="password" type="password" required>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="password_confirm">Confirmar Password</label>
                            <input class="form-control" id="password_confirm" name="password_confirm" type="password" required>
                        </div>
                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="font-weight-bold" for="comentarios">Comentarios: (<label for="info" id="info">Máximo 200 caracteres</label>)</label>
                            <textarea class="form-control" name="comentarios" id="comentarios" rows="5" onkeypress="return limitarCaracteresComentarios(event, this.value, 200); actualizarCantidadCaracteres(200)" onkeydown="return limitarCaracteresComentarios(event, this.value, 200);" onkeyup=" actualizarCantidadCaracteres(200)"></textarea>
                        </div>
                        <!-- Toogle button (Switch) -->
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input class="custom-control-input" id="acepto_terminos" name="acepto_termino" type="checkbox">
                                <label class="custom-control-label" for="acepto_terminos">Declaro conocer y aceptar los términos del contrato.</label>
                            </div>
                        </div>
                        <!-- botones -->
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary"  id="enviar" value="Registrar">
                            <input type="reset" class="btn btn-secondary" id="reset" value="Limpiar">
                        </div>

                    </form>
                </div>
            </div>
        </main>
        <!-- Fin MAIN -->
{%endblock%}