{% extends 'core/base.html' %}

{%block content %}
    {% load static %}
    <!-- Inicio CAROUSEL -->
    <div class="container">        
        <div class="row mt-2 mb-2">
            <div class="col-md-12">
                <div class="carousel slide" data-ride="carousel" id="carousel">
                    <!-- Indicadores -->
                    <ul class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1"></li>
                    </ul>
    
                    <!-- Slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'core/Imagenes/Whooper.jpg' %}"  alt="Whooper" style="width: 100%">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'core/Imagenes/Descarga.jpg' %}"  alt="Descarga" style="width: 100%">
                        </div>
                    </div>
    
                    <!-- Controles -->
                    <a class="carousel-control-prev" href="#carousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin CAROUSEL -->


          <!-- Latest Projects-->
          <section class="section section-md section-fluid bg-default">
            <div class="container">
              <h2>Nuestra Historia</h2>
            </div>
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-classic owl-timeline" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="4" data-margin="30" data-stage-padding="15" data-xxl-stage-padding="0" data-autoplay="true" data-nav="true" data-dots="true">
              <div class="owl-item">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                  <div class="thumbnail-mary-figure"><img src="{% static 'core/Imagenes/project-1-420x308.jpg' %}" alt="" width="420" height="308"/>
                  </div>
                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'core/Imagenes/gallery-original-11-800x1200.jpg' %}" data-lightgallery="item"><img src="{% static 'core/Imagenes/project-1-420x308.jpg' %}" alt="" width="420" height="308"/></a>
                  </div>
                </article>
                <div class="thumbnail-mary-description">
                  <h5 class="thumbnail-mary-project"><a href="#">Primer logo</a></h5><span class="thumbnail-mary-decor"></span>
                  <h5 class="thumbnail-mary-time">
                    <time datetime="1999">1999</time>
                  </h5>
                </div>
              </div>
              <div class="owl-item">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                  <div class="thumbnail-mary-figure"><img src="{% static 'core/Imagenes/project-2-420x308.jpg' %}" alt="" width="420" height="308"/>
                  </div>
                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'core/Imagenes/gallery-original-5-800x1200.jpg' %}" data-lightgallery="item"><img src="{% static 'core/images/project-2-420x308.jpg' %}" alt="" width="420" height="308"/></a>
                  </div>
                </article>
                <div class="thumbnail-mary-description">
                  <h5 class="thumbnail-mary-project"><a href="#">New Partners</a></h5><span class="thumbnail-mary-decor"></span>
                  <h5 class="thumbnail-mary-time">
                    <time datetime="2005">2005</time>
                  </h5>
                </div>
              </div>
              <div class="owl-item">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                  <div class="thumbnail-mary-figure"><img src="{% static 'core/Imagenes/project-3-420x308.jpg' %}" alt="" width="420" height="308"/>
                  </div>
                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{static 'core/Imagenes/gallery-original-4-800x1200.jpg' %}" data-lightgallery="item"><img src="{´% static core/Imagenes/project-3-420x308.jpg' %}" alt="" width="420" height="308"/></a>
                  </div>
                </article>
                <div class="thumbnail-mary-description">
                  <h5 class="thumbnail-mary-project"><a href="#">Opening Our Online Store</a></h5><span class="thumbnail-mary-decor"></span>
                  <h5 class="thumbnail-mary-time">
                    <time datetime="2010">2010</time>
                  </h5>
                </div>
              </div>
              <div class="owl-item">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                  <div class="thumbnail-mary-figure"><img src="{% static 'core/Imagenes/project-4-420x308.jpg' %}" alt="" width="420" height="308"/>
                  </div>
                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'core/Imagenes/gallery-original-3-800x1200.jpg' %}" data-lightgallery="item"><img src="{% static 'core/Imagenes/project-4-420x308.jpg' %}" alt="" width="420" height="308"/></a>
                  </div>
                </article>
                <div class="thumbnail-mary-description">
                  <h5 class="thumbnail-mary-project"><a href="#">Farming Industry Leader</a></h5><span class="thumbnail-mary-decor"></span>
                  <h5 class="thumbnail-mary-time">
                    <time datetime="2013">2013</time>
                  </h5>
                </div>
              </div>
              <div class="owl-item">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-md">
                  <div class="thumbnail-mary-figure"><img src="{% static 'core/Imagenes/project-5-420x308.jpg' %}" alt="" width="420" height="308"/>
                  </div>
                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'core/Imagenes/gallery-original-1-1200x800.jpg' %}" data-lightgallery="item"><img src="{% static 'core/Imagenes/project-5-420x308.jpg' %}" alt="" width="420" height="308"/></a>
                  </div>
                </article>
                <div class="thumbnail-mary-description">
                  <h5 class="thumbnail-mary-project"><a href="#">Farming Innovations</a></h5><span class="thumbnail-mary-decor"></span>
                  <h5 class="thumbnail-mary-time">
                    <time datetime="2019">2019</time>
                  </h5>
                </div>
              </div>
            </div>
          </section>
          <!-- What people say-->
          <section class="section context-dark">
            <div class="parallax-container" data-parallax-img="images/bg-parallax-2.jpg">
              <div class="parallax-content section-md bg-overlay-2-21">
                <div class="container">
                  <div class="oh">
                    <h2 class="wow slideInUp" data-wow-delay="0s">Que dice la gente</h2>
                  </div>
                  <!-- Owl Carousel-->
                  <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
                    <!-- Quote Lisa-->
                    <article class="quote-lisa">
                      <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles" src="{% static 'core/Imagenes/user-16-100x100.jpg' %}" alt="" width="100" height="100"/></a>
                        <div class="quote-lisa-text">
                          <p class="q">Si quiere comer rico y de calidad en este burger King tiene que venir en la noche al servicio por ventanilla . Preparan las hamburguesas al instante lo cual las hace más frescas y sabrosas .</p>
                        </div>
                        <h5 class="quote-lisa-cite"><a href="#">Juan Perez</a></h5>
                        <p class="quote-lisa-status">Regular Cliente</p>
                      </div>
                    </article>
                    <!-- Quote Lisa-->
                    <article class="quote-lisa">
                      <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles" src="{% static 'core/Imagenes/user-17-100x100.jpg' %}" alt="" width="100" height="100"/></a>
                        <div class="quote-lisa-text">
                          <p class="q">A pesar de ser comida rápida la hamburguesa estaba muy buena, bien cocida, buena atención y un precio razonable, se recomienda para comida al paso.</p>
                        </div>
                        <h5 class="quote-lisa-cite"><a href="#">John Wilson</a></h5>
                        <p class="quote-lisa-status">Regular Cliente</p>
                      </div>
                    </article>
                    <!-- Quote Lisa-->
                    <article class="quote-lisa">
                      <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles" src="{% static 'core/Imagenes/user-18-100x100.jpg' %}" alt="" width="100" height="100"/></a>
                        <div class="quote-lisa-text">
                          <p class="q">Debe ser el local de comida rápida con las mejores hamburguesas de todas, tienen mucha más variedades y condimentos que las demás, y el sabor es increíble! Mención aparte a los nuggets, simplemente exquisitos, sólo llegar y aprovechar, sobre todo ahora, con una promoción re-barata que lanzaron!</p>
                        </div>
                        <h5 class="quote-lisa-cite"><a href="#">Kate Anderson</a></h5>
                        <p class="quote-lisa-status">Regular Cliente</p>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </section>
    
    
          <section class="section section-md section-last bg-gray-100">
            <div class="container">
              <div class="oh">
                <h2 class="wow slideInUp" data-wow-delay="0s">Nuestros locales</h2>
              </div>
              <!-- Owl Carousel-->
              <div class="owl-carousel owl-clients owl-dots-secondary" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-margin="30" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut"><a class="clients-modern" href="#"><img src="{% static 'core/Imagenes/clients-1-270x145.png' %}" alt="" width="270" height="145"/></a><a class="clients-modern" href="#"><img src="{% static 'core/Imagenes/clients-2-270x145.png' %}" alt="" width="270" height="145"/></a><a class="clients-modern" href="#"><img src="{% static 'core/Imagenes/clients-3-270x145.png' %}" alt="" width="270" height="145"/></a><a class="clients-modern" href="#"><img src="{% static 'core/Imagenes/clients-4-270x145.png' %}" alt="" width="270" height="145"/></a></div>
            </div>
          </section>

    
{%endblock%}