{% extends 'core/base.html' %}

{%block content %}
    {% load static %}

      <!-- About us-->
      <section class="section">
        <div class="parallax-container" data-parallax-img="images/bg-parallax-2.jpg">
          <div class="parallax-content section-xl context-dark bg-overlay-68">
            <div class="container">
              <div class="row row-lg row-50 justify-content-center border-classic border-classic-big">
                <div class="col-sm-6 col-md-5 col-lg-3 wow fadeInLeft" data-wow-delay="0s">
                  <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">12</span><span class="icon counter-creative-icon fl-bigmug-line-trophy55"></span>
                    </div>
                    <h6 class="counter-creative-title">Ventas</h6>
                  </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 wow fadeInLeft" data-wow-delay=".1s">
                  <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">2</span><span class="symbol">k</span><span class="icon counter-creative-icon fl-bigmug-line-up104"></span>
                    </div>
                    <h6 class="counter-creative-title">locales</h6>
                  </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 wow fadeInLeft" data-wow-delay=".2s">
                  <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">679</span><span class="icon counter-creative-icon fl-bigmug-line-sun81"></span>
                    </div>
                    <h6 class="counter-creative-title">Clientes Felices</h6>
                  </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 wow fadeInLeft" data-wow-delay=".3s">
                  <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">103</span><span class="icon counter-creative-icon fl-bigmug-line-user143"></span>
                    </div>
                    <h6 class="counter-creative-title">Trabajadores</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
      <!-- Improve your interior with deco-->
      <section class="section section-md bg-default section-top-image">
        <div class="container">
          <div class="oh h2-title">
            <h2 class="wow slideInUp" data-wow-delay="0s">Nuestra Galeria</h2>
          </div>
          <div class="row row-30" data-lightgallery="group">
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-sm wow slideInLeft" data-wow-delay="0s">
                    <div class="thumbnail-mary-figure"><img src="{% static 'core/Imagenes/grid-gallery-1-370x303.jpg' %}" alt="" width="370" height="303"/>
                    </div>
                    <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'core/Imagenes/gallery-original-1-1200x800.jpg' %}" data-lightgallery="item"><img src="{% static 'core/Imagenes/grid-gallery-1-370x303.jpg' %}" alt="" width="370" height="303"/></a>
                    <h4 class="thumbnail-mary-title"><a href="#">Whopper</a></h4>
                    </div>
                </article>
                </div>
                </div>
            <div class="col-sm-6 col-lg-4">
             <div class="oh-desktop">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-sm wow slideInUp" data-wow-delay=".1s">
                  <div class="thumbnail-mary-figure"><img src="{% static 'core/Imagenes/grid-gallery-2-370x303.jpg' %}" alt="" width="370" height="303"/>
                  </div>
                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'core/Imagenes/gallery-original-2-1200x800.jpg' %}" data-lightgallery="item"><img src="{% static 'core/Imagenes/grid-gallery-2-370x303.jpg' %}" alt="" width="370" height="303"/></a>
                    <h4 class="thumbnail-mary-title"><a href="#">Steakhouse</a></h4>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-sm wow slideInRight" data-wow-delay=".0s">
                  <div class="thumbnail-mary-figure"><img src="{% static 'core/Imagenes/grid-gallery-3-370x303.jpg' %}" alt="" width="370" height="303"/>
                  </div>
                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'core/Imagenes/gallery-original-3-800x1200.jpg' %}" data-lightgallery="item"><img src="{% static 'core/Imagenes/grid-gallery-3-370x303.jpg' %}" alt="" width="370" height="303"/></a>
                    <h4 class="thumbnail-mary-title"><a href="#">CheeseBurger</a></h4>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-sm wow slideInUp" data-wow-delay=".1s">
                  <div class="thumbnail-mary-figure"><img src="{% static 'core/Imagenes/grid-gallery-4-370x303.jpg' %}" alt="" width="370" height="303"/>
                  </div>
                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'core/Imagenes/gallery-original-4-800x1200.jpg' %}" data-lightgallery="item"><img src="{% static 'core/Imagenes/grid-gallery-4-370x303.jpg' %}" alt="" width="370" height="303"/></a>
                    <h4 class="thumbnail-mary-title"><a href="#">Snacks</a></h4>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-sm wow slideInLeft" data-wow-delay="0s">
                  <div class="thumbnail-mary-figure"><img src="{% static 'core/Imagenes/grid-gallery-5-370x303.jpg' %}" alt="" width="370" height="303"/>
                  </div>
                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'core/Imagenes/gallery-original-5-800x1200.jpg' %}" data-lightgallery="item"><img src="{% static 'core/Imagenes/grid-gallery-5-370x303.jpg' %}" alt="" width="370" height="303"/></a>
                    <h4 class="thumbnail-mary-title"><a href="#">BurgerDobleQuesoTocino</a></h4>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Thumbnail Classic-->
                <article class="thumbnail thumbnail-mary thumbnail-sm wow slideInDown" data-wow-delay=".1s">
                  <div class="thumbnail-mary-figure"><img src="{% static 'core/Imagenes/grid-gallery-6-370x303.jpg' %}" alt="" width="370" height="303"/>
                  </div>
                  <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60" href="{% static 'core/Imagenes/gallery-original-6-1200x800.jpg' %}" data-lightgallery="item"><img src="{% static 'core/Imagenes/grid-gallery-6-370x303.jpg' %}" alt="" width="370" height="303"/></a>
                    <h4 class="thumbnail-mary-title"><a href="#">King Pollo Club</a></h4>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- Fin CAROUSEL -->
    <!-- About us-->
    <section class="section">
        <div class="parallax-container" data-parallax-img="images/bg-parallax-2.jpg">
          <div class="parallax-content section-xl context-dark bg-overlay-68">
            <div class="container">
              <div class="row row-lg row-50 justify-content-center border-classic border-classic-big">
                <div class="col-sm-6 col-md-5 col-lg-3 wow fadeInLeft" data-wow-delay="0s">
                  <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">12</span><span class="icon counter-creative-icon fl-bigmug-line-trophy55"></span>
                    </div>
                    <h6 class="counter-creative-title">Ventas</h6>
                  </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 wow fadeInLeft" data-wow-delay=".1s">
                  <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">2</span><span class="symbol">k</span><span class="icon counter-creative-icon fl-bigmug-line-up104"></span>
                    </div>
                    <h6 class="counter-creative-title">locales</h6>
                  </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 wow fadeInLeft" data-wow-delay=".2s">
                  <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">679</span><span class="icon counter-creative-icon fl-bigmug-line-sun81"></span>
                    </div>
                    <h6 class="counter-creative-title">Clientes Felices</h6>
                  </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3 wow fadeInLeft" data-wow-delay=".3s">
                  <div class="counter-creative">
                    <div class="counter-creative-number"><span class="counter">103</span><span class="icon counter-creative-icon fl-bigmug-line-user143"></span>
                    </div>
                    <h6 class="counter-creative-title">Trabajadores</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- Calcular Divisas-->
    <div class="container">
        <div class="col-md-4 mt-1 mb-1"style="position:center; left: 350px;">
            <div class="card-header">
                <h2 class="card-title">Conversor Divisas</h2>
            </div>
            <div class="card-body">
                <input type="number" class="form-control" id="num1" name="num1" placeholder="Ingresa valor CLP">
                <br>
                <p class="card-text" id="resultado"></p>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-info" onclick="convertir()">Convertir a USD</button>
                </div>
            </div>
        </div>
    </div>
{%endblock%}