{% extends 'core/base.html' %}

{%block content %}
    {% load static %}
    <h3 class="display-4 text-center" style="color: orange;position:relative;  top: 50px; font-family: 'Fredoka One', cursive;">Promociones del mes de Octubre</h3>
    <!-- Inicio CAROUSEL -->
    <br><br><br>
    <div class="container">        
        <div class="row mt-2 mb-2">
            <div class="col-md-12">
                <div class="carousel slide" data-ride="carousel" id="carousel">
                    <!-- Indicadores -->
                    <ul class="carousel-indicators">
                        <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel1" data-slide-to="1"></li>
                        <li data-target="#carousel1" data-slide-to="2"></li>
                        <li data-target="#carousel1" data-slide-to="3"></li>
                    </ul>
                    <!-- Slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'core/Imagenes/1.jpg' %}"  alt="Ofertas1" style="width: 100%">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'core/Imagenes/Promo2.jpg' %}"  alt="Ofertas2" style="width: 100%">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'core/Imagenes/3.jpg' %}"  alt="Ofertas3" style="width: 100%">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'core/Imagenes/4.jpg' %}"  alt="Ofertas4" style="width: 100%">
                        </div>
                    </div>
    
                    <!-- Controles -->
                    <a class="carousel-control-prev" href="#carousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin CAROUSEL -->
    <!-- Calcular Divisas-->
    <div class="container">
        <div class="col-md-4 mt-1 mb-1"style="position:center; left: 350px;">
            <div class="card-header">
                <h2 class="card-title">Conversor Divisas</h2>
            </div>
            <div class="card-body">
                <input type="number" class="form-control" id="num1" name="num1" placeholder="Ingresa valor CLP">
                <br>
                <p class="card-text" id="resultado"></p>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-info" onclick="convertir()">Convertir a USD</button>
                </div>
            </div>
        </div>
    </div>
{%endblock%}